*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  /* Global default font */
  font: 11px Arial, Helvetica, sans-serif;
  color: #ddd;

  /* Disable text highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Lock screen position */
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  background-color: #333;

}

.highlight {
  color:#ff0;
}

#avatar_swiper{
  top: 100px;
  margin: auto;
  background-color: rgba(255,255,255,0.025);
  border: 1px solid rgba(0,0,0,0.2);
}

#confirmBtn{

  position: fixed;
  width: 100px;
  height: 100px;

  margin: auto;
  left: 110px;
  bottom: 60px;

  background: url("../img/btn_yep.png");
  background-size: 100px 100px;

  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

#confirmBtn:active{
  background-position: 0px 2px;
}

#confirmBtn.enabled{
  transition-delay: 0.3s;
  opacity:1;
  transform: scale(1);
}

#confirmBtn.disabled{
  opacity:0.1;
  transform: scale(0.7);
}

