*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  /* Global default font */
  font: 11px Arial, Helvetica, sans-serif;
  color: #ddd;

  /* Disable text highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Lock screen position */
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  background-color: #333;

}

.highlight {
  color:#ff0;
}

#avatar_swiper{
  top: 0px;
  margin: auto;
  background-color: rgba(255,255,255,0.2);
  border: 1px solid rgba(0,0,0,0.4);
}

#confirmBtn{
  margin: 0px auto;
  transition: opacity 0.3s ease-out, transform 0.05s ease-out;
}

#confirmBtn.enabled{
  opacity:1;
}

#confirmBtn.disabled{
  opacity:0.3;
}

#confirmBtn:active{
  background: #863636;
  transform: scale(0.95);
}

.round-button {
    display:block;
    width:100px;
    height:100px;
    line-height:100px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:28px;
    font-weight:bold;
}

.slides .slide {
  transition: opacity 0.3s ease-out;
  opacity:0.3;
}

.slides .slide.active {
  opacity:1;
}


